<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <title>Thực hành An toàn thông tin nâng cao</title> 
    <link 
href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet"/> 
</head> 
<body> 
    <div class="container"> 
        <img src="https://file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png" alt="hutech" style="display: block; margin-left: auto; margin-right: auto; width: 30%;">
        <h4 style="font-weight: bold; text-align: center;">BÀI THỰC HÀNH BẢO MẬT THÔNG TIN NÂNG CAO</h4>
        
        <ul style=" height: 50px; ">
            <br></br>
            <h3>Mời bạn chọn chức năng bên dưới!</h3>
        </ul>  
            <br></br>   
            <ul style="width: 300px; "> 
                <li><a href="/caesar">Caesar Cipher</a></li>
                <small class="form-text text-muted"> Vui lòng click vào "Ceaser Cipher" để tiến hành xử lý Caesar!!!</small>
                <li><a href="/vigenere">Vigenere Cipher</a></li> 
                <small class="form-text text-muted"> Vui lòng click vào "Vigenere Cipher" để tiến hành xử lý Vigenere!!!</small>
                <li><a href="/railfence">Rail Fence Cipher</a></li> 
                <small class="form-text text-muted"> Vui lòng click vào "Rail Fence Cipher" để tiến hành xử lý Rail Fence!!!</small>
                <li><a href="/playfair">Playfair Cipher</a></li> 
                <small class="form-text text-muted"> Vui lòng click vào "Playfair Cipher" để tiến hành xử lý Playfair!!!</small>
                <li><a href="/transposition">Transposition Cipher</a></li>
                <small class="form-text text-muted"> Vui lòng click vào "Transposition Cipher" để tiến hành xử lý Transposition!!!</small>
            </ul> 
    </div> 
</body> 
</html> 