<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <title>TRANSPOSITION CIPHER</title> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet"/> 
</head> 
<body>
    <div class="container">
        <table class="table">
            <tr><td style="text-align: center; font-weight: bold; font-size: 25px;">TRANSPOSITION CIPHER</td></tr>
            <tr><td style="font-weight: bold; color:rgb(0, 102, 0)">TRANSPOSITION ENCRYPT</td></tr>
            <tr><td>
                <form method="POST" action="/transposition/encrypt">
                <div class="mb-3">
                    <label class="form-label">Plain text:</label>
                    <input type="text" class="form-control" name="inputPlainTextTransposition" placeholder="Input Plain Text" required autofocus/>
                    <small class="form-text text-muted">Enter the text you want to encrypt.</small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Key:</label>
                    <input type="text" class="form-control" name="inputKeyTransposition" placeholder="Input Key" required/>
                    <small class="form-text text-muted">Enter the encryption key.</small>
                </div>
                <button type="submit" class="btn btn-secondary">Encrypt (Transposition)</button>
                </form>
            </td>
            </tr>

            <tr><td style="font-weight: bold; color:rgb(0, 102, 0)">TRANSPOSITION DECRYPT</td></tr>
            <tr><td>
                <form method="POST" action="/transposition/decrypt">
                <div class="mb-3">
                    <label class="form-label">Cipher text:</label>
                    <input type="text" class="form-control" name="inputCipherTextTransposition" placeholder="Input Cipher Text" required autofocus/>
                    <small class="form-text text-muted">Enter the text you want to decrypt.</small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Key:</label>
                    <input type="text" class="form-control" name="inputKeyDecryptTransposition" placeholder="Input Key" required/>
                    <small class="form-text text-muted">Enter the decryption key.</small>
                </div>
                <button type="submit" class="btn btn-secondary">Decrypt (Transposition)</button>
                </form>
            </td>
            </tr>
        </table>
        <a href="/" class="btn btn-secondary">Back to Home</a>
    </div>
</body>
</html>
